/* stylelint-disable plugin/use-logical-properties-and-values */

:root {
  --speed: 5s;
}

main {
  margin: 0;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

#radar-container {
  justify-content: center;
  margin-top: 0;
}

#radar {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid green;
  border-radius: 50%;
  overflow: hidden;

  background:
    repeating-radial-gradient(
      transparent,
      transparent 4.5%,
      rgb(80 255 0 / 0.35) 5%,
      transparent 5.5%
    ) content-box,
    linear-gradient(transparent 49.7%, rgb(80 255 0 / 0.2) 49.9%, rgb(80 255 0 / 0.2) 50.1%, transparent 50.3%) content-box,
    linear-gradient(to right, transparent 49.7%, rgb(80 255 0 / 0.2) 49.9%, rgb(80 255 0 / 0.2) 50.1%, transparent 50.3%) content-box,
    radial-gradient(#050, #001600) content-box,
    linear-gradient(to bottom right, #ccc, #666) border-box;
  background-color: yellowgreen;
}

#sweep {
  position: absolute;
  inset: 0;
  background-image: conic-gradient(from 90deg, transparent 90%, rgb(80 255 0 / 0.4));
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgb(0 0 0 / 0.9);
  animation: sweep var(--speed) linear infinite;
}

@keyframes sweep {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#controls {
  margin-top: 20px;
}

#controls label {
  margin-right: 10px;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;

  background-color: rgb(36 112 0);
  border-radius: 50%;

  transition: background-color var(--speed) ease-in-out, scale 0.1s;
}

.dot-move {
  transition: top 0.5s, left 0.5s;
}

.dot > span {
  display: none;
}

.boop {
  transition: background-color 0s, scale 0s;
  background-color: rgb(80 255 0);
  box-shadow: 0 0 1vmin rgb(80 255 0 / 0.3);
  scale: 1.35;
}

.pot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 37px;
  padding-left: 36px;
  transform: rotate(0deg);
  display: inline-block;
  background: radial-gradient(circle, rgb(51 51 51 / 1) 80%, rgb(85 85 85 / 1) 100%);
  background-color: #333;
  box-sizing: content-box;
}

.potshadow {
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.3);
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
}

.pot:hover {
  cursor: row-resize;
}

.pot span,
.pot angle {
  display: none;
}

.potPos {
  box-sizing: content-box;
  pointer-events: none;
  background: white;
  width: 3px;
  height: 25px;
  position: absolute;
  left: 25px;
}

.potContainer {
  box-sizing: content-box;
  position: absolute;
  width: fit-content;
}

.potline {
  margin-top: 3px;
}

#slab,
#dlab {
  position: absolute;
}

#slab {
  top: 55px;
  left: 6px;
}

#dlab {
  top: 55px;
  left: 17px;
}

#pot-c-speed {
  top: 10px;
  left: 10px;
}

#pot-c-decay {
  top: 10px;
  left: 280px;
}

#bomb,
#random {
  position: absolute;
  width: 50px;
  height: 40px;
}

#bomb {
  left: 10px;
  top: 290px;
}

#random {
  left: 280px;
  top: 290px;
}

#backup {
  position: absolute;
  left: 305px;
  top: 265px;
  height: 25px;
  width: 25px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZUlEQVQ4jcWTUQ7AIAhDqdn9r9x9aRTrlGkiX0booxoASduJtKU+AXjUJQD5LpKYAgBQFY5yaVbgHXh3Z/6gpubzl5POgS9eFRdALYqIG8AfcQcwG89AzvkmULsQGSQJiMT9ZXoBZuM6FSgWZKkAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 2px 2px;
}
