* {
  user-select: none;
}

.keys {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.key {
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
}

.key > span {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  display: none;
}

.white {
  flex: 1;
  height: 100%;
  background: white;
  z-index: 1;
  color: #000;
  text-align: center;
}

.black {
  width: calc(100% / 24);
  height: 62.5%;
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  box-shadow:
    inset 0 -1px 2px rgb(255 255 255 / 0.2),
    0 2px 3px rgb(0 0 0 / 0.4);
  background: linear-gradient(-20deg, #222, #000, #222);
}

#C-sharp { left: calc(100% / 14 * 1); }
#D-sharp { left: calc(100% / 14 * 2); }
#F-sharp { left: calc(100% / 14 * 4); }
#G-sharp { left: calc(100% / 14 * 5); }
#A-sharp { left: calc(100% / 14 * 6); }
#C-sharp2 { left: calc(100% / 14 * 8); }
#D-sharp2 { left: calc(100% / 14 * 9); }
#F-sharp2 { left: calc(100% / 14 * 11); }
#G-sharp2 { left: calc(100% / 14 * 12); }
#A-sharp2 { left: calc(100% / 14 * 13); }

/*  */

.selected {
  background-color: #71d6fb;
  background-image: linear-gradient(-20deg, #a8d9f5, #71d6fb, #a8d9f5);
}

.played {
  background-color: #ffb6c1;
  background-image: linear-gradient(-20deg, #ffb6c1, #ff69b4, #ffb6c1);
}

/*  */

#midiAccessButton { --pa-x: 2px; }
#midiChannel { min-inline-size: 10ch; }
#midiouts { min-inline-size: 11ch; }

#note,
#chord {
  min-width: 12ch;
  text-align: center;
  /* color: #fff; */
}

#note {
  min-width: 6ch;
}

.chords {
  min-width: 0;
  max-width: 100%;
}

.notes {
  width: min-content;
  min-inline-size: 0;
}

.types {
  min-inline-size: 0;
}

.notes button { padding-inline: 4px; }
.types button { padding-inline: 2px; }

.notes button:nth-child(4n + 1) { background-color: #f7a66c; }
.notes button:nth-child(4n + 2) { background-color: #eb9a86; }
.notes button:nth-child(4n + 3) { background-color: #d384b8; }
.notes button:nth-child(4n + 4) { background-color: #b682cf; }
.types button:nth-child(8n + 1) { background-color: #71d6fb; }
.types button:nth-child(8n + 2) { background-color: #75d7ea; }
.types button:nth-child(8n + 3) { background-color: #7ad8d6; }
.types button:nth-child(8n + 4) { background-color: #81dab9; }
.types button:nth-child(8n + 5) { background-color: #86dba7; }
.types button:nth-child(8n + 6) { background-color: #88dc9d; }
.types button:nth-child(8n + 7) { background-color: #8ddd8c; }
.types button:nth-child(8n + 8) { background-color: #94df6d; }
