@font-face {
  font-family: tm;
  src: url(Tomo/Tomo.woff);
}

body, div#page, input, button {
  font-family: tm;
  font-size: 8px;
  line-height: 13px;
}

body, div#page {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

div#out {
  margin: 0px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid gray;
  line-height: 13px;
  height: calc( 100% - 55px );
  width: calc( 100% - 12px );
  position: absolute;
  top: 0;
  left: 0;
}

span.out {
  white-space:pre;
  word-wrap: break-word;
  color: #f8f8f2;
  line-height: 13px;
}

div#cmd {
  width: 100%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: silver;
  height: 42px;
  border-top: 1px white solid;
}

input#cmd {
    padding: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 27px;
    width: calc( 100% - 134px );
    border-bottom: 1px solid gray;
    border-top: solid 1px black;
    border-left: 1px solid black;
    border-right: 1px solid gray;
}

button.cmd {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
    line-height: 16px;
    padding: 1px 6px;
    overflow: hidden;
    height: 38px;
    width: 60px;
}

#clear{
  position: absolute;
  right: 1px;
  bottom: 1px;
}

#send{
  position: absolute;
  right: 62px;
  bottom: 1px;
}
