.fx-rotate {
  transition: transform 0.5s ease;
  transform: rotate(-180deg) !important;
}

.fx-spin {
  animation: anim-spin 2s linear infinite;
}

@keyframes anim-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* animations
============= */

.fx-acid {
  animation: anim-acid 2s linear infinite;
}

@keyframes anim-acid {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(360deg); }
}

.fx-strobo {
  animation: anim-strobo 0.1s linear infinite;
}

@keyframes anim-strobo {
  0% { filter: brightness(0%); }
  100% { filter: brightness(150%); }
}

.fx-strasto {
  animation: anim-strasto 0.33s linear infinite;
}

@keyframes anim-strasto {
  0% { filter: contrast(100%) brightness(100%); }
  50% { filter: contrast(1000%) brightness(200%); }
  100% { filter: contrast(100%) brightness(100%); }
}

.fx-scato {
  animation: anim-scato 0.125s linear infinite;
}

@keyframes anim-scato {
  0% { filter: invert(0%); }
  50% { filter: invert(0%); }
  51% { filter: invert(100%); }
  100% { filter: invert(100%); }
}

.fx-bublur {
  animation: anim-bublur 0.166666s linear infinite;
}

@keyframes anim-bublur {
  0% { filter: blur(0); }
  100% { filter: blur(20px); }
}

.fx-disco {
  animation: anim-disco 0.125s linear infinite;
}

@keyframes anim-disco {
  0% { filter: none; }
  100% { filter: brightness(0.4) sepia(1) hue-rotate(280deg) saturate(530%); }
}

/* static
========= */

.fx-sepia { filter: sepia(100%); }
.fx-grayscale { filter: grayscale(100%); }
.fx-invert { filter: invert(100%); }
.fx-invert-light { filter: invert(100%) hue-rotate(180deg); }
.fx-blur { filter: blur(2px); }

/* svg
====== */

.fx-neon-satan { filter: url("./fx.svg#fx-neon-satan"); }
.fx-neon-slug { filter: url("./fx.svg#fx-neon-slug"); }
.fx-neon-hulk { filter: url("./fx.svg#fx-neon-hulk"); }
.fx-displacement { filter: url("./fx.svg#fx-displacement"); }
.fx-aqua { filter: url("./fx.svg#fx-aqua"); }
.fx-litho { filter: url("./fx.svg#fx-litho"); }
.fx-dithering { filter: url("./fx.svg#fx-dithering"); }
.fx-dithering-color { filter: url("./fx.svg#fx-dithering-color"); }
.fx-dithering-smooth { filter: url("./fx.svg#fx-dithering-smooth"); }
.fx-trichrome { filter: url("./fx.svg#fx-trichrome"); }
.fx-convo { filter: url("./fx.svg#fx-convo"); }
.fx-convo2 { filter: url("./fx.svg#fx-convo2"); }
.fx-convo3 { filter: url("./fx.svg#fx-convo3"); }
.fx-convo4 { filter: url("./fx.svg#fx-convo4"); }
.fx-convoblur { filter: url("./fx.svg#fx-convoblur"); }
.fx-postor { filter: url("./fx.svg#fx-postor"); }
.fx-postilt { filter: url("./fx.svg#fx-postilt"); }
.fx-postel { filter: url("./fx.svg#fx-postel"); }
.fx-orton { filter: url("./fx.svg#fx-orton"); }
.fx-santabarbara { filter: url("./fx.svg#fx-santabarbara"); }
.fx-santabarbara2 { filter: url("./fx.svg#fx-santabarbara2"); }
.fx-spectrum { filter: url("./fx.svg#fx-spectrum"); }
.fx-zombi { filter: url("./fx.svg#fx-zombi"); }
.fx-blueray { filter: url("./fx.svg#fx-blueray"); }
.fx-hip { filter: url("./fx.svg#fx-hip"); }
.fx-xray { filter: url("./fx.svg#fx-xray"); }
.fx-emboss { filter: url("./fx.svg#fx-emboss"); }
.fx-edge { filter: url("./fx.svg#fx-edge"); }
.fx-ripple { filter: url("./fx.svg#fx-ripple"); }
.fx-sys42 { filter: url("./fx.svg#fx-sys42"); }
.fx-vhs { filter: url("./fx.svg#fx-vhs"); }
.fx-vhs2 { filter: url("./fx.svg#fx-vhs2"); }
.fx-anaglyph { filter: url("./fx.svg#fx-anaglyph"); }
.fx-electrize { filter: url("./fx.svg#fx-electrize"); }
.fx-poster-color-fun { filter: url("./fx.svg#fx-poster-color-fun"); }
.fx-dark-emboss { filter: url("./fx.svg#fx-dark-emboss"); }
.fx-onebit { filter: url("./fx.svg#fx-onebit"); }
.fx-poster-draw { filter: url("./fx.svg#fx-poster-draw"); }
.fx-square { filter: url("./fx.svg#fx-square"); }
.fx-plaster { filter: url("./fx.svg#fx-plaster"); }
.fx-fluorescence { filter: url("./fx.svg#fx-fluorescence"); }
.fx-plasticine { filter: url("./fx.svg#fx-plasticine"); }
