html, body {
  user-select: none;
  touch-action: manipulation;
  overflow: hidden;
}

.speaker {
  position: absolute;
  z-index: 0;
  width: 278px;
  height: 318px;
  top: 50%;
  transform: translate(0%, -50%);
}

.g1 {
  position: absolute;
  width: calc(262px);
  height: calc(55px);
  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%, 0%);
}

.g1 > div {
  position: absolute;
  width: 220px;
  height: 10px;
  transform: translate(-50%, 21px);
  margin-left: 50%;
  background-image: repeating-linear-gradient(0deg, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5) 1px, transparent 1px, transparent);
  background-size: 2px 2px;
  background-color: rgb(0 0 0 / 0);
}

.g2 {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 75px);
  margin-left: 10px;
  margin-top: 65px;
}

.t1 {
  position: relative;
  width: calc(100% - 20px);
  height: 42px;
  font-size: 24px;
  top: 13px;
  left: 10px;
  text-align: center;
  padding-top: 8px;
  padding-left: 9px;
  letter-spacing: 8px;
  color: rgb(0 0 0 / 0.5);
  text-shadow: 1px 1px #fff;
}

.gamelle {
  width: 220px;
  height: 220px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  top: 9px;
  left: 20px;
  box-shadow: 4px 3px 25px 0 rgb(0 0 0 / 0.4) inset;
  -webkit-box-shadow: 4px 3px 25px 0 rgb(0 0 0 / 0.4) inset;
  -moz-box-shadow: 4px 3px 25px 0 rgb(0 0 0 / 0.4) inset;
  --s: 10px;
  --c1: #aaa;
  --c2: #888;
  --c3: #888;
  --_s: 0 0/var(--s) var(--s);
  background:
    radial-gradient(#0000 50%, #0002 54%, var(--c1) 57%) var(--_s),
    radial-gradient(circle at 60% 70%, #0000 4%, #000 90%) var(--_s),
    repeating-conic-gradient(var(--c2) 0 25%, var(--c3) 0 50%) 0 0/calc(2*var(--s)) calc(2*var(--s));
}

#s1 {
  left: 1px;
  width: 287px;
}

#s2 {
  right: 1px;
  width: 286px;
}

#c1 {
  position: absolute;
  z-index: 0;
  width: 320px;
  height: 318px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#magneto {
  width: 299px;
  height: 188px;
  position: absolute;
  top: calc(50% - (188px/2));
  left: calc(50% - (299px/2));
  background-color: #aaa;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 10px;
}

#r1 {
  position: relative;
  background: #000;
  width: 35px;
  height: 35px;
  display: block;
  top: 66px;
  left: 68px;
  border-radius: 100%;
}

#r2 {
  position: relative;
  background: #000;
  width: 35px;
  height: 35px;
  display: block;
  top: 31px;
  left: 196px;
  border-radius: 100%;
}

#r3 {
  position: relative;
  background: #000;
  width: 12px;
  height: 12px;
  display: block;
  top: 100px;
  left: 71px;
  border-radius: 100%;
}

#r4 {
  position: relative;
  background: #000;
  width: 12px;
  height: 12px;
  display: block;
  top: 88px;
  left: 216px;
  border-radius: 100%;
}

#r5 {
  position: relative;
  background: #000;
  width: 11px;
  height: 11px;
  display: block;
  top: 56px;
  left: 144px;
  border-radius: 100%;
}

#q1 {
  position: absolute;
  background: #999;
  width: 203px;
  height: 46px;
  display: block;
  top: 140px;
  left: 48px;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

#cassette {
  opacity: 0;
  /* background-image: url(img/0.png); */
  width: 299px;
  height: 188px;

  background-size: 100.55% 100.55%;
  background-position: center center;
  position: absolute;
  top: calc(50% - (188px/2));
  left: calc(50% - (299px/2));
  /*
  border: 1px solid #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  */
  z-index: 1000;
}

#start {
  z-index: 100;
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 150px);
  width: 57px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: inset -1px -1px 1px rgb(0 0 0 / 0.5);
  background-image: url("img/play.png");
  background-repeat: no-repeat;
  background-position: center;
  /* cursor: pointer; */
}

#start.on {
  background-color: rgb(0 0 0 / 0.2);
  border: 1px solid #666;
  box-shadow: inset 1px 1px 1px rgb(0 0 0 / 0.5);
  background-image: url("img/pause.png");
  background-size: 20px;
  background-position: 18px 14px;
  pointer-events: none;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#n555-125 {
  position: absolute;
  top: calc(50% - (188px / 2) + 196px);
  left: calc(50% - (299px / 2) + 60px);
  width: 240px;
}

/*
.cassette20 {
  width: 578px !important;
  height: 449px !important;
  top: calc(50% - 356px) !important;
  left: calc(50% - 264.5px);
}
*/

#n555-125 > input[type="radio"]:nth-child(2) {
  margin-left: 0;
}

#cassetteImg {
  height: 188px;
  width: 299px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 10px;
  border: 1px solid #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  /* image-rendering: pixelated; */
}

.cassette1 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  height: 187px;
}

.cassette4 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  height: 193px;
  top: -5px;
  position: relative;
}

.cassette6 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  position: relative;
  top: -1px;
}

.cassette7 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette8 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  height: auto;
  width: 300px;
  position: absolute;
  top: -23px;
}

.cassette9 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  position: relative;
  top: -2px;
  height: 190px;
}

.cassette11 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  position: absolute;
  top: -4px;
  height: 193px;
}

.cassette23 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette35 > img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

/*
.cassette8>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette9>img#cassetteImg {}

.cassette13>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette14>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette15>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  height: auto;
  width: 300px;
  position: absolute;
  top: -23px;
}

.cassette16>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  position: relative;
  top: -2px;
  height: 190px;
}

.cassette18>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette20>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
}

.cassette21>img#cassetteImg {
  filter: drop-shadow(0 0 1px black);
  border: none !important;
  position: absolute;
  top: -7px;
  height: 203px;
}
*/
