input.submitionBox{
  background: none;
  border: none;
  font-size:24px;
  font-family: JUICE___;
  color:black;
  text-align:center;
  transform: rotate(-4deg);
}
input.submitionBox::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
input.error::placeholder {
  color: red;
  opacity: 1; /* Firefox */
  transition-duration:250ms;
}
input.submitionBox:focus {
  background: none;
  border: none;
}
input.submitionBox:focus-visible {
  border: none;
  outline:none;
}
input:focus {
  background: none;
  border: 5px solid red;
}