canvas {
  width: 100%;
  height: auto;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
canvas {
  vertical-align: top;
}

.pages,
.pixel,
canvas {
  /* -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges; */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

canvas[height="16"] {
  height: 1.6rem;
  width: auto;
}
canvas[height="17"] {
  height: 1.7rem;
  width: auto;
}

button {
  background-color: #a28fdc;
  border: 0.1rem solid #554993;
  border-raduis: 0;
}

a {
  color: inherit;
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: 0.3rem;
  font-size: 80%;
  color: #fff;
  background: #ccc;
}

h1,
h2 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
h1:first-of-type,
h2:first-of-type {
  margin-top: 0;
}

button,
input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  border: 0 none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

:root {
  --color-base: #98d;
  --color-light: #bcf;
  --color-shadow: #5a488e;
  --color-shadow-dark: #308;
}

input,
textarea {
  color: #000;
  background: #fff;
  border: 0.1rem inset var(--color-base);
  outline: none;
}

button {
  color: #000;
  background: var(--color-base);
  text-align: center;
}

button {
  box-shadow: inset 0 -0.1rem 0 var(--color-shadow),
    inset -0.1rem 0 0 var(--color-shadow), inset 0 0.1rem 0 var(--color-light),
    inset 0.1rem 0 0 var(--color-light);
}
button:active,
button.active,
button[disabled] {
  box-shadow: inset 0 -0.1rem 0 var(--color-light),
    inset -0.1rem 0 0 var(--color-light), inset 0 0.1rem 0 var(--color-shadow),
    inset 0.1rem 0 0 var(--color-shadow);
}

iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}

hr {
  margin: 0.1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0;
  border-bottom: 0.1rem solid var(--color-light);
  border-top: 0.1rem solid var(--color-shadow);
}

button::-moz-focus-inner {
  border: 0;
}
