@font-face {
  font-family: "digit";
  src: url("../assets/fonts/digit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pico";
  src: url("../assets/fonts/pico.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NDS12";
  src: url("../assets/fonts/NDS12.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-pico {
  font-family: "pico";
  font-size: 8px;
}
.font-digit {
  font-family: "digit";
  font-size: 8px;
}
.font-hajime {
  font-family: "hajime";
  font-size: 8px;
}
.font-NDS12 {
  font-family: "NDS12";
  font-size: 20px;
}
