:root {
  color: #fff;
  background: #111;
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  font-family: monospace, "Noto Sans Symbols2", EmojiSymbols, Symbol;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
}

svg,
canvas {
  shape-rendering: optimizespeed;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.ctrl span,
input,
select,
button,
.button {
  padding: 4px 1rem;
  line-height: 1;
}
.ctrl span,
button,
.button,
input,
select,
textarea {
  color: #fff;
  background: #111;
  border: 0 none;
  border-radius: 0;
  font-family: inherit;
  text-align: center;
}

label,
select,
button,
.button,
input[type="number"],
input[type="text"] {
  margin-top: 0.1em;
  margin-right: 0.5em;
}

select,
button,
.button,
input[type="number"],
input[type="text"] {
  background: #111;
  color: #999;
  border: 0 none;
  padding: 2px 6px;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

button,
.button {
  color: #000;
  background: #666;
}

.button {
  text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]) {
  width: 5em;
}

label > span {
  margin-right: 0.5em;
}
label > input,
label > select {
  margin: 0;
}

input[type="radio"] {
  vertical-align: -2px;
}
input[type="checkbox"] {
  margin-right: 0.4em;
  vertical-align: -1px;
}

input[type="range"],
input[type="number"] {
  width: auto;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="range"] {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #080a0c;
  border: 8px solid tranparent;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #111;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0 none;
  height: 8px;
  width: 8px;
  border-radius: 0;
  background-color: #666;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #111;
}
input[type="range"]::-moz-range-thumb {
  border-radius: 0;
  border: 0 none;
  height: 8px;
  width: 8px;
  background: #666;
  cursor: pointer;
}

textarea {
  padding: 21px;
  height: 256px;
}

.invalid {
  opacity: 0.5;
}

.ctrl {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 512px;
  border-bottom: 10px solid #080a0c;
}
.ctrl > * {
  overflow: hidden;
  min-width: 0;
}

.legend {
  display: grid;
  color: #555;
  font-size: 50%;
  grid-template-columns: repeat(7, 1fr);
  min-width: 0;
}
.legend > * {
  overflow: hidden;
  text-align: center;
  min-width: 0;
}

.canvases {
  position: relative;
  overflow: hidden;
}
.canvases canvas {
  top: 0;
  position: absolute;
}
.canvases canvas:first-of-type {
  position: static;
}

canvas {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.panel {
  background: #222;
}

.cm-s-bytebeat {
  /* height: auto; */
  height: 256px;
  width: 512px;
  color: #815db3;
  min-height: 256px;
  background: #111;
}

.cm-s-bytebeat .CodeMirror-scroll {
  padding: 21px;
}

.cm-s-bytebeat .CodeMirror-cursor {
  border-left: 2px solid #0670ae;
}

.cm-s-bytebeat div.CodeMirror-selected {
  background: #00384c;
}

.cm-s-bytebeat .cm-operator {
  color: #22e955;
}
.cm-s-bytebeat .cm-variable {
  color: #fff;
}
.cm-s-bytebeat .cm-number {
  color: #9f9;
}
.cm-s-bytebeat .cm-comment {
  color: #475073;
}
.cm-s-bytebeat .cm-error {
  color: #f0f;
}

div.CodeMirror.cm-s-bytebeat span.CodeMirror-matchingbracket {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-decoration-color: #0670ae;
  color: unset;
}

.log {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 256px;
  padding: 16px;
  height: 100vh;

  color: #3f4765;
  background: #080a0cee;
  white-space: pre-wrap;
  font-size: 80%;

  text-align: left;
  display: flex;
  align-items: center;
}
.log:empty {
  display: none;
}
