html,
body,
.container {
  overflow: clip;
}

canvas {
  image-rendering: pixelated;
  will-change: rotate;
  rotate: 0deg;
  transition: rotate 0.5s;
}

#next {
  position: absolute;
  inset: 0;
  object-fit: contain;
  margin: auto;
  height: 85%;
  width: 85%;

  @supports (width: round(down, 100%, 1px)) {
    height: round(down, 85%, 4px);
    width: round(down, 85%, 4px);
  }
}

/* #grid-container {
  background: #2b2b2b;
} */

#next-container {
  max-height: 400px;
  display: flex;
  min-height: 25%;
}

/* #bag {
  flex-wrap: wrap;
} */

#bag button {
  aspect-ratio: 1;
  padding: 2px;

  canvas {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(1px 1px 0 #000);

    @supports (width: round(down, 100%, 1px)) {
      width: round(down, 100%, 4px);
    }
  }
  &:disabled canvas { filter: grayscale(1); }
}

#grid {
  height: 100%;
  max-height: 100%;

  @supports (height: round(down, 100%, 1px)) {
    height: round(down, 100%, 4px);
    max-height: round(down, 100%, 4px);
  }

  min-height: 0;
  max-width: 100%;
  object-fit: contain;

  box-shadow:
    0 -10px 0 #000,
    0 10px 0 #000;
}

#game:not(.reverse-tetris) {
  > #bag { display: none; }

  > main > #grid-container {
    flex: 0 1 auto;
    min-width: 0;
    min-width: 50%;
  }

  > main > #grid-container > .canvas-scaler {
    display: flex;
    place-items: center;
  }

  > main > #next-view {
    min-width: max(20%, 50px);
    max-height: 100%;
  }

  @media (aspect-ratio <= 1/2) {
    > main > #grid-container {
      min-width: 0;
      flex: 1 1 auto;
    }
    > main > #next-view { display: none; }
  }
}

#game.reverse-tetris {
  #grid {
    rotate: 180deg;
  }

  #grid-container {
    display: grid;
    place-items: center;
    overflow: hidden;
    flex: 1 0 0%;
    max-height: 100%;
    min-height: 0;
    position: relative;
  }

  #next-view {
    display: none;
  }

  /* @media (width < 200px) {
    & { flex-direction: row; }
    #bag { flex-direction: column; }
  } */
}

#gameover {
  color: var(--document-bg);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 17vmin;

  @supports (font-size: round(down, 17vmin, 12px)) {
    font-size: max(var(--fs), round(down, 17vmin, var(--fs)));
  }

  line-height: 0.85;
  text-align: center;
  text-shadow:
    0 1px 0 var(--document-fg),
    1px 0 0 var(--document-fg),
    0 -1px 0 var(--document-fg),
    -1px 0 0 var(--document-fg),
    -1px -1px 0 var(--document-fg),
    1px -1px 0 var(--document-fg),
    -1px 1px 0 var(--document-fg),
    1px 1px 0 var(--document-fg),
    2px 0 0 var(--document-fg),
    -2px 0 0 var(--document-fg),
    2px 1px 0 var(--document-fg),
    -2px 1px 0 var(--document-fg),
    2px -1px 0 var(--document-fg),
    -2px -1px 0 var(--document-fg);
}
