body,
html {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

#vectrex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 0;
  block-size: calc(100% - 69px);
  overflow: hidden;
  position: relative;
  flex: 1;
}

#overlay {
  position: absolute;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  display: none;
  height: 100%;
}

#screen {
  animation: blink 0.01s infinite alternate;
  max-block-size: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#roms {
  inline-size: 149px;
  margin-inline-end: 0;
}

#overlayImage {
  inline-size: 351px;
  block-size: 449px;
  height: 100%;
  width: auto;
}

@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 0.8; }
  40% { opacity: 0.9; }
  60% { opacity: 0.7; }
  80% { opacity: 0.9; }
  100% { opacity: 0.8; }
}

#buttons {
  display: none;
}

#controls {
  margin-inline-start: 5px;
}
