#paused {
  display: none;
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  font-size: 76px;
  text-align: center;
  background-color: var(--panel-bg);
  opacity: 0.6;
}

.groupbox {
  --stack: 0.3rem;
}

#stats table {
  border-collapse: separate;
  border-spacing: var(--unit-xs);

  td {
    padding-inline: var(--unit-xs);
  }

  th {
    text-align: start;
  }
}

/* .td_num {
  min-inline-size: 8ch;
  text-align: end;
  padding: 0 var(--unit-xs);
  border: 1px solid var(--table-bdc, var(--main-bdc));
} */
