main {
  background-image: url("./img/grid.png");
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-size: 8.33% auto;
}

canvas {
  display: block;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  cursor: url("./icon-32.png") 0 32, auto;
}

#interface {
  position: absolute;
  top: 0;
  right: 0;
}

#p5_loading {
  display: none;
}

#tonic {
  width: 40px;
}
